{{ define "main" }}

<section class="hero">
    <h1 class="logo">VXON</h1>

    <div class="links">
        <a href="https://github.com/VX0N-Labs/vxon.github.io"> Github </a>

        <span>•</span>

        <a href="https://discord.gg/WhrfWgDRZS"> Discord </a>

        <span>•</span>

        <a
            href="https://github.com/VX0N-Labs/vx0n-labs.github.io/blob/main/how-to-use-this-site.md"
        >
            How to use the site
        </a>
    </div>
</section>

<div class="search-wrapper">
    <div class="search-container">
        <input
            type="text"
            id="search-input"
            placeholder="Search articles..."
            autocomplete="off"
        />
    </div>
</div>

<section id="results" class="results"></section>

<script src="/js/search.js"></script>

{{ end }}
